

.card {
    display:flex; 
    flex-wrap: wrap; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.card-child {
    max-width: 300px;
    width: 100%;

    justify-content: center;
    margin-top: 20px;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
}

.example-radio-button {
    margin: 5px;
}

.mat-card {
    background: #3f51b5;
 }

 .example-card-score {
    max-width: 150px;
    width: 100%;

    justify-content: center;
    margin: 20px;
}


.example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  

  .example-tree .mat-nested-tree-node div[role=group] {
    padding-left: 40px;
  }
  

  .example-tree div[role=group] > .mat-tree-node {
    padding-left: 40px;
  }

  .example-section {
    margin: 12px 0;
  }