<div class="login">
    <mat-card class="example-card">
      <mat-tab-group animationDuration="0ms">
          <mat-tab label="შესვლა">
              <div class="example-container">
                  <mat-form-field appearance="outline">
                      <mat-label>Email</mat-label>
                      <input matInput [(ngModel)]="loginEmail">
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                      <mat-label>პაროლი</mat-label>
                      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="loginPassword">
                      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'დაფარე პაროლი'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    </mat-form-field>
                  <button mat-raised-button color="primary" (click)="signIn()">შესვლა</button>
               
              </div>
          </mat-tab>
          <mat-tab label="რეგისტრაცია">
              <div class="example-container">
                  <mat-form-field appearance="outline">
                      <mat-label>მომხმარებლის სახელი</mat-label>
                      <input matInput [(ngModel)]="registrationUserName">
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                      <mat-label>პაროლი</mat-label>
                      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="registrationPassword">
                      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'დაფარე პაროლი'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput [(ngModel)]="registrationEmail">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                      <mat-label>მომხმარებლის ტიპი</mat-label>
                      <mat-select [(ngModel)]="role" name="role">
                        <mat-option *ngFor="let role of roles" [value]="role.value">
                          {{role.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  
                  <button mat-raised-button color="primary" (click)="signUp()">რეგისტრაცია</button>
              </div>
          </mat-tab>
      </mat-tab-group>
  </mat-card>
</div>