*{
    margin-right: left;
}
svg path {
    fill: #8a00f4;
    stroke: rgb(0, 0, 0);
    stroke-width: 2.5;
}

svg path:hover {
    fill: #ffe600;
    transition: 0.6s;
    cursor: pointer;
    transform: scale(1.02);
    transform-origin: center center;
}

.wrapper {

    position:absolute;
}

svg {
   width: 1000px;
   height: 512px;
   transform-origin: top left;
}


.example-card {
    max-width: 300px;
    width: 100%;

    justify-content: center;
    margin: 20px;
}

.card {
    display:flex; 
    flex-wrap: wrap; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.example-card-score {
    max-width: 150px;
    width: 100%;

    justify-content: center;
    margin: 20px;
}

.card-score {
    display:flex; 
    flex-flow: column wrap;
    align-content: flex-end;
}

.RED {
    background-image: url('./../../assets/images/RED.png');
    background-size: cover;
}

.BLUE {
    background-image: url('./../../assets/images/BLUE.png');
    background-size: cover;
}

.GREEN {
    background-image: url('./../../assets/images/GREEN.png');
    background-size: cover;
}

.logo-image {
    width: 300px;
    height: 400px;
    background-image: url('./../../assets/images/logo.png');
    background-size: cover;
    margin: auto;
}

.slow {
    display: inline-block;
    vertical-align: bottom;
    max-width: 0.5rem;
    overflow: hidden;
    animation: slow 2s ease forwards;
  }
  
  @keyframes slow {
    from {
      max-width: 0.5rem;
    }
    to {
      max-width: 3rem;
    }
  }


  .circle {
    position: relative;
    border: 1px solid black;
    padding: 0;
    margin: 1em auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    list-style: none;
    overflow: hidden;
  }
  li {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin: 0% 100%;
  }
  .text {
    position: absolute;
    left: -100%;
    width: 200%;
    height: 200%;
    text-align: center;
    transform: skewY(60deg) rotate(15deg);
    padding-top: 20px;
  }
  li:first-child {
    transform: rotate(0deg) skewY(-60deg);
  }
  li:nth-child(2) {
    transform: rotate(30deg) skewY(-60deg);
  }
  li:nth-child(3) {
    transform: rotate(60deg) skewY(-60deg);
  }
  li:nth-child(4) {
    transform: rotate(90deg) skewY(-60deg);
  }
  li:nth-child(5) {
    transform: rotate(120deg) skewY(-60deg);
  }
  li:nth-child(6) {
    transform: rotate(150deg) skewY(-60deg);
  }
  li:nth-child(7) {
    transform: rotate(180deg) skewY(-60deg);
  }
  li:nth-child(8) {
    transform: rotate(210deg) skewY(-60deg);
  }
  li:nth-child(9) {
    transform: rotate(240deg) skewY(-60deg);
  }
  li:nth-child(10) {
    transform: rotate(270deg) skewY(-60deg);
  }
  li:nth-child(11) {
    transform: rotate(300deg) skewY(-60deg);
  }
  li:nth-child(12) {
    transform: rotate(330deg) skewY(-60deg);
  }
  li:first-child .text {
    background: green;
  }
  li:nth-child(2) .text {
    background: tomato;
  }
  li:nth-child(3) .text {
    background: aqua;
  }
  li:nth-child(4) .text {
    background: yellow;
  }
  li:nth-child(5) .text {
    background: orange;
  }
  li:nth-child(6) .text {
    background: purple;
  }
  li:nth-child(7) .text {
    background: cyan;
  }
  li:nth-child(8) .text {
    background: brown;
  }
  li:nth-child(9) .text {
    background: gray;
  }
  li:nth-child(10) .text {
    background: pink;
  }
  li:nth-child(11) .text {
    background: maroon;
  }
  li:nth-child(12) .text {
    background: gold;
  }



  .example-card2 {
    max-width: 400px;
    width: 100%;

    justify-content: center;
    margin: 20px;
}

.card2 {
    display:flex; 
    flex-wrap: wrap; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.example-card-score2 {
    max-width: 300px;
    width: 100%;

    justify-content: center;
    margin: 20px;
}

.card-score2 {
    display:flex; 
    flex-flow: column wrap;
    align-content: flex-end;
}
