
*{
    margin: 0;
    padding: 0;
}

svg path {
    fill: #8a00f4;
    stroke: rgb(0, 0, 0);
    stroke-width: 2.5;
    transition: 0.6s;
    cursor: pointer;
}

svg path:hover {
    fill: #2900f4;
    transform: scale(1.02);
    transform-origin: center center;
}