.example-card {
    max-width: 300px;
    width: 100%;
    justify-content: center;
    margin: 20px;
    display:inline-block;
    padding-top: 40px;
}

.card {
    display:flex; 
    flex-wrap: wrap; 
    justify-content: center;
}

.logo-image {
    width: 300px;
    height: 400px;
    background-image: url('./../../assets/images/logo.png');
    background-size: cover;
    margin: auto;
}

p {
    color: #FFFF82;
      line-height: 200%;
      text-align: center;
  }
  

  
#scripts {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    transform: perspective(300px) rotateX(18deg);
    transform-origin: 50% 100%;
    text-align: justify;
    position: absolute;
    margin-left: -9em;
    font-weight: bold;
    overflow: hidden;
    font-size: 550%;
    height: 50em;
    width: 18em;
    bottom: 0;
    left: 50%;
  }
  
  #scripts:after {    
    position: absolute;
    content: ' ';
    bottom: 60%;
    left: 0;
    right: 0;
    top: 0;
  }

/* Set the scrolling animation and position it */
#content {
  animation: scroll 40s linear 1s;
  position: absolute;
  top: 100%;
}

#title, #subtitle {
  text-align: center;
}

@keyframes scroll {
    0% {
        top: 100%;
    }
    100% {
        top: -170%;
    }
}