.example-card {
    max-width: 300px;
    width: 100%;
    justify-content: center;
    margin: 20px;
    display:inline-block;
    padding-top: 40px;
}

.card {
    display:flex; 
    flex-wrap: wrap; 
    justify-content: center;
}

.logo-image {
    width: 300px;
    height: 400px;
    background-image: url('./../../assets/images/logo.png');
    background-size: cover;
    margin: auto;
}