.example-card2 {
    max-width: 400px;
    width: 100%;

    justify-content: center;
    margin: 20px;
}

.card2 {
    display:flex; 
    flex-wrap: wrap; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.example-card-score2 {
    max-width: 300px;
    width: 100%;

    justify-content: center;
    margin: 20px;
}

.card-score2 {
    display:flex; 
    align-content: flex-end;
}


.RED {
    background-image: url('./../../assets/images/RED.png');
    background-size: cover;
}

.BLUE {
    background-image: url('./../../assets/images/BLUE.png');
    background-size: cover;
}

.GREEN {
    background-image: url('./../../assets/images/GREEN.png');
    background-size: cover;
}
