<div class="center">
    <mat-toolbar color="primary">
        <div fxShow="true" fxHide.gt-sm="true">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>პროფილი</button>
                <button mat-menu-item>თამაშის წესები</button>
                <button mat-menu-item>ჩემი კლასები</button>
                <button mat-menu-item>კითხვების მენეჯმენტი</button>
                <button mat-menu-item>ჩვენს შესახებ</button>
                <button mat-menu-item>კონტაქტი</button>
            </mat-menu>
        </div>
        <button mat-icon-button>
            <mat-icon>home</mat-icon>
        </button>
        <div fxShow="true" fxHide.lt-md="true">
            <button mat-button>პროფილი</button>
            <button mat-button>თამაშის წესები</button>
            <button mat-button>ჩემი კლასები</button>
            <button mat-button>კითხვების მენეჯმენტი</button>
            <button mat-button>ჩვენს შესახებ</button>
            <button mat-button>კონტაქტი</button>
        </div>
        <span class="spacer"></span>
        <button mat-icon-button>
            <mat-icon>exit_to_app</mat-icon>
        </button>
    </mat-toolbar>
</div>