.spacer {
    flex: 1 1 auto;
}


button{
    min-width: min-content;
}

.example-icon {
    padding: 0 14px;
  }

a {
    color: inherit;
    text-decoration: none;
}

.navigation-wrapper {
    min-height:64px;
    max-height:64px;
}